@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication1.ViewModels.PersonCreateVm

@{
    ViewBag.Title = "Create Person";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}


<h2 class="mb-4">Create Person</h2>

<form asp-action="Create" method="post">
    <div class="row mb-3">
        <div class="col-md-4">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="NationalCode" class="form-label"></label>
            <input asp-for="NationalCode" class="form-control" />
            <span asp-validation-for="NationalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label asp-for="phoneNumber" class="form-label"></label>
            <input asp-for="phoneNumber" class="form-control" />
            <span asp-validation-for="phoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
