@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication1.ViewModels.BookEditVm

@{
    ViewBag.Title = "Edit Book";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<h2 class="mb-4"> Edit Book</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="BookId" />
    <div class="row mb-3">
        <div class="col-md-4">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Subject" class="form-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Author" class="form-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label asp-for="CopiesAvailable" class="form-label"></label>
            <input asp-for="CopiesAvailable" class="form-control" />
            <span asp-validation-for="CopiesAvailable" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Status" class="form-label">Status</label>
            <select asp-for="Status" class="form-select">
                <option value="true">Available</option>
                <option value="false">UnAvailable</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Edit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
